<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule \.(css|jpe?g|gif|png)$ - [L]
RewriteCond %{REQUEST_URI} ^/[^\.]+[^/]$
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [R=301,L]
RewriteRule ^functions/ - [L]
RewriteRule ^includes/ - [L]
RewriteRule ^install/ - [L]
RewriteRule ^styles/ - [L]
RewriteRule ^tinymce/ - [L]
RewriteRule ^([^/\.]+)/?$ index.php?page=$1 [L]
RewriteRule ^([^/\.]+)/([^/\.]+).php?$ index.php?page=$1&subpage=$2 [L]
</IfModule>